* {
	margin: 0;
	padding: 0;
	font-family: helvetica;
}

.NavNav {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%
}

.NavNav a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}

.main {
	margin-top: 40px; /* To avoid content overlay */
}

body {
	background-color: 
}

form {
	margin: 0 5% 0 5%; 
/*	width: auto;*/
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
/*	resize: vertical;*/
	display: block;
}

textarea {
	outline: none;
	overflow: auto;
	border-radius: 0.5em;
	box-sizing: border-box;
	min-height: 4em;
	width: 50%; 
	max-width: 80%;
	max-height: 20em;
}

label {
	display: block;
}

input[type=text] {
	outline: none;
	border-radius: 0.5em;
}

input[type=email] {
	outline: none;
	border-radius: 0.5em;
}

input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5em;
}
