
* {
		margin: 0;
		padding: 0;
		font-family: helvetica;
}

.navNav {
		padding: 0.2em;
		overflow: hidden;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
}

.navNav a {
		float: right;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px 16px;
		text-decoration: none;
		font-size: 18px;
}

a.anchorlink {
		display: block;
		position: relative;
		margin-right: 2%;
}

.main {
		margin-top: 40px; /* To avoid content overlay */
}

.list-inline ul {
		list-style: none;
		display: inline-block;
		padding-right: 5%;
		padding-left: 1%;
}

body {

}

header {
		background: url("./images/banner-img.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		color: black;
		background-position: 50% 50%;
		height: 500px;
		text-align: center;
		font-size: 3vw;
		opacity: 0.8;
}

.firstcontainer {
		padding-top: 50px;
		padding-bottom: 50px;
		margin: 1%;
}

.headercontainer {
		width: 100%;
		position: absolute;
		top: 300px;
		transform: translateY(-50%);
		left: 50%;
		transform: translateX(-50%);
}

.logo  {
		display: inline-block;
		height: 3em;
		margin-left: 4%;
}

.row1 {
		padding-left: 4%;
		padding-bottom: 0.5%;
}

#about .secondcontainer {
		margin: 0.5%;
		padding: 0.5%;
}

.party {
		position: relative;
		padding: 2%;
		z-index: 1;
}

.partyimages {
		width: 33%;
		height: auto;
		border-radius: 4%;
}

.partydescription {
		margin: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 36%;
		width: 62%;
		font-size: 2vw;
}

.photo {
		display: inline-block;
		max-width: 25%;
		box-sizing: border-box;
		padding-left: 3%;
		padding-right: 3%;
		border-radius: 50%;
}

.photo img {
		width: 100%;
}

figcaption {
		padding-top: 2em;
		font-size: 1.2em;
}

.icons {
		display: inline-block;
		max-width: 25%;
		box-sizing: border-box;
}

#team {
		background: #2f373f;
		color: white;
}

.teammembers {
		margin-top: 3%;
		padding-left: 3.5%;
		padding-right: 3.5%;
		text-align: center;
}

form {
	  margin: 0 3% 0 3%;
		padding: 20px;
	  border-radius: 20px;
	  box-sizing: border-box;
	  margin-top: 6px;
	  margin-bottom: 16px;
	  display: block;
}

.formline {
	  position: relative;
	  padding: 2%;
}

.request {
	  width: 33%;
	  height: auto;
}

.inputbox {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  left: 36%;
	  width: 62%;
}

.extraspace {
		padding-top: 1em;
}

textarea {
		outline: none;
		overflow: auto;
		border-radius: 0.5em;
		box-sizing: border-box;
		min-height: 3em;
		min-width: 50%;
		width: 30%;
		max-width: 50%;
		max-height: 8em;
		font-size: 2vw;
}

label {
		display: block;
}

input[type=text] {
		outline: none;
		border-radius: 0.5em;
		font-size: 2vw;
}

input[type=email] {
		outline: none;
		border-radius: 0.5em;
		font-size: 2vw;
}

input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5em;
		font-size: 2vw;
		margin: 10px;
}
input[type=reset] {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5em;
		font-size: 2vw;
		margin: 10px;
}

.formbuttons {
		padding-top: 20px;
		margin-left: 30%;
}

footer {
		background-color: #4686a0;
		background-size: auto;
		background-position: top left;
		text-align: center;
}
